body {
    background-image: url('实验一（背景）.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.personal-intro {
    display: flex;
    align-items: center;
    /* 纵向居中 */
}

.form-container {
    width: 600px;
    /* 可根据需要调整宽度 */
    margin: 0 auto;
    /* 水平居中 */
    text-align: left;
    /* 内容保持左对齐 */
}

.Blue {
    color: blue;

}

.Red {
    color: red;
}

.size {
    font-size: 30px;
}

.Goldenrod {
    color: goldenrod;
}